.orders {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ordersTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 0 0 10px;
}

.ordersHeaders {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 15px;
    margin: 55px 0 0 0;
}

.changeMapButton {
    min-width: 134px;
    height: 33px;
    left: 239px;
    top: 57px;
    background: rgba(217, 217, 217, 0.1);
    border: none;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    margin-left: auto;
}

.onlyButtonContainer {
    width: 100%;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 15px;
}

.onlyButton {
    min-width: 55%;
    height: 39px;
    left: 20px;
    top: 109px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.onlyButton:last-of-type {
    position: relative;
    left: -10%;
    top: 0
}

.viewListOrdersContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 0 15px 15px 15px;
}

.backButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    width: 70px;
    height: 20px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 18px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    margin: 15px 0 10px 15px;
    text-decoration: none;
}