.userContainer {
    flex: 1;
    max-width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.userName {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
}